* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  line-height: 1.42857143;
}
.centrer-text {
  text-align: center;
}
.fondg{
    background-color: #E7E7E7;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.boite{
  background-color: #E7E7E7;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*NAVIGATION*/
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background: #efefef;
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
		}
			nav ul li:hover a {
				    color: #fff;
			}

		nav ul li a {
			display: block;
      padding: 25px 40px;
			color: #757575;
      text-decoration: none;
		}

	nav ul ul {
		background: #5f6975;
    border-radius: 0px;
    padding: 0;
		position: absolute;
    top: 100%;
    z-index: 22;
	}
		nav ul ul li {
			float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a;
      position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}
				nav ul ul li a:hover {
					background: #4b545f;
				}

	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
  nav ul ul ul li a {
    white-space:nowrap;
  }



/*DISPOSITION*/
.corps {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .corps {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .corps {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .corps {
    width: 1170px;
  }
}
.col-xpetit-1, .col-xpetit-2, .col-xpetit-3, .col-xpetit-4, .col-xpetit-5, .col-xpetit-6, .col-xpetit-7, .col-xpetit-8, .col-xpetit-9, .col-xpetit-10, .col-xpetit-11, .col-xpetit-12, .col-petit-1, .col-petit-2, .col-petit-3, .col-petit-4, .col-petit-5, .col-petit-6, .col-petit-7, .col-petit-8, .col-petit-9, .col-petit-10, .col-petit-11, .col-petit-12, .col-moyen-1, .col-moyen-2, .col-moyen-3, .col-moyen-4, .col-moyen-5, .col-moyen-6, .col-moyen-7, .col-moyen-8, .col-moyen-9, .col-moyen-10, .col-moyen-11, .col-moyen-12,.col-grand-1, .col-grand-2, .col-grand-3, .col-grand-4, .col-grand-5, .col-grand-6, .col-grand-7, .col-grand-8, .col-grand-9, .col-grand-10, .col-grand-11, .col-grand-12{
  position: relative;
  min-height: 1px;
}
.col-xpetit-1, .col-xpetit-2, .col-xpetit-3, .col-xpetit-4, .col-xpetit-5, .col-xpetit-6, .col-xpetit-7, .col-xpetit-8, .col-xpetit-9, .col-xpetit-10, .col-xpetit-11, .col-xpetit-12{
  float: left;
}
.col-xpetit-1{
  width: 8.33333333%;
}
.col-xpetit-2{
  width: 16.66666667%;
}
.col-xpetit-3{
  width: 25%;
}
.col-xpetit-4{
  width: 33.33333333%;
}
.col-xpetit-5{
  width: 41.66666667%;
}
.col-xpetit-6{
  width: 50%;
}
.col-xpetit-7{
  width: 58.33333333%;
}
.col-xpetit-8{
  width: 66.66666667%;
}
.col-xpetit-9{
  width: 75%;
}
.col-xpetit-10{
  width: 83.33333333%;
}
.col-xpetit-11{
  width: 91.66666667%;
}
.col-xpetit-12{
  width: 100%;
}
.col-dec-xpetit-1{
  margin-left: 8.33333%;
}
.col-dec-xpetit-2{
  margin-left: 16.66666667%;
}
.col-dec-xpetit-3{
  margin-left: 25%;
}
.col-dec-xpetit-4{
  margin-left: 33.33333333%;
}
.col-dec-xpetit-5{
  margin-left: 41.66666667%;
}
.col-dec-xpetit-6{
  margin-left: 50%;
}
.col-dec-xpetit-7{
  margin-left: 58.33333333%;
}
.col-dec-xpetit-8{
  margin-left: 66.66666667%;
}
.col-dec-xpetit-9{
  margin-left: 75%;
}
.col-dec-xpetit-10{
  margin-left: 83.33333333%;
}
.col-dec-xpetit-11{
  margin-left: 91.66666667%;
}
.col-dec-xpetit-12{
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-petit-1, .col-petit-2, .col-petit-3, .col-petit-4, .col-petit-5, .col-petit-6, .col-petit-7, .col-petit-8, .col-petit-9, .col-petit-10, .col-petit-11, .col-petit-12{
    float: left;
  }
  .col-petit-1{
    width: 8.33333333%;
  }
  .col-petit-2{
    width: 16.66666667%;
  }
  .col-petit-3{
    width: 25%;
  }
  .col-petit-4{
    width: 33.33333333%;
  }
  .col-petit-5{
    width: 41.66666667%;
  }
  .col-petit-6{
    width: 50%;
  }
  .col-petit-7{
    width: 58.33333333%;
  }
  .col-petit-8{
    width: 66.66666667%;
  }
  .col-petit-9{
    width: 75%;
  }
  .col-petit-10{
    width: 83.33333333%;
  }
  .col-petit-11{
    width: 91.66666667%;
  }
  .col-petit-12{
    width: 100%;
  }
  .col-dec-petit-1{
    margin-left: 8.33333%;
  }
  .col-dec-petit-2{
    margin-left: 16.66666667%;
  }
  .col-dec-petit-3{
    margin-left: 25%;
  }
  .col-dec-petit-4{
    margin-left: 33.33333333%;
  }
  .col-dec-petit-5{
    margin-left: 41.66666667%;
  }
  .col-dec-petit-6{
    margin-left: 50%;
  }
  .col-dec-petit-7{
    margin-left: 58.33333333%;
  }
  .col-dec-petit-8{
    margin-left: 66.66666667%;
  }
  .col-dec-petit-9{
    margin-left: 75%;
  }
  .col-dec-petit-10{
    margin-left: 83.33333333%;
  }
  .col-dec-petit-11{
    margin-left: 91.66666667%;
  }
  .col-dec-petit-12{
    margin-left: 100%;
  }
}


@media (min-width: 992px){
  .col-moyen-1, .col-moyen-2, .col-moyen-3, .col-moyen-4, .col-moyen-5, .col-moyen-6, .col-moyen-7, .col-moyen-8, .col-moyen-9, .col-moyen-10, .col-moyen-11, .col-moyen-12{
    float: left;
  }
  .col-moyen-1{
    width: 8.33333333%;
  }
  .col-moyen-2{
    width: 16.66666667%;
  }
  .col-moyen-3{
    width: 25%;
  }
  .col-moyen-4{
    width: 33.33333333%;
  }
  .col-moyen-5{
    width: 41.66666667%;
  }
  .col-moyen-6{
    width: 50%;
  }
  .col-moyen-7{
    width: 58.33333333%;
  }
  .col-moyen-8{
    width: 66.66666667%;
  }
  .col-moyen-9{
    width: 75%;
  }
  .col-moyen-10{
    width: 83.33333333%;
  }
  .col-moyen-11{
    width: 91.66666667%;
  }
  .col-moyen-12{
    width: 100%;
  }
  .col-dec-moyen-1{
    margin-left: 8.33333%;
  }
  .col-dec-moyen-2{
    margin-left: 16.66666667%;
  }
  .col-dec-moyen-3{
    margin-left: 25%;
  }
  .col-dec-moyen-4{
    margin-left: 33.33333333%;
  }
  .col-dec-moyen-5{
    margin-left: 41.66666667%;
  }
  .col-dec-moyen-6{
    margin-left: 50%;
  }
  .col-dec-moyen-7{
    margin-left: 58.33333333%;
  }
  .col-dec-moyen-8{
    margin-left: 66.66666667%;
  }
  .col-dec-moyen-9{
    margin-left: 75%;
  }
  .col-dec-moyen-10{
    margin-left: 83.33333333%;
  }
  .col-dec-moyen-11{
    margin-left: 91.66666667%;
  }
  .col-dec-moyen-12{
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-grand-1, .col-grand-2, .col-grand-3, .col-grand-4, .col-grand-5, .col-grand-6, .col-grand-7, .col-grand-8, .col-grand-9, .col-grand-10, .col-grand-11, .col-grand-12{
    float: left;
  }
  .col-grand-1{
    width: 8.33333333%;
  }
  .col-grand-2{
    width: 16.66666667%;
  }
  .col-grand-3{
    width: 25%;
  }
  .col-grand-4{
    width: 33.33333333%;
  }
  .col-grand-5{
    width: 41.66666667%;
  }
  .col-grand-6{
    width: 50%;
  }
  .col-grand-7{
    width: 58.33333333%;
  }
  .col-grand-8{
    width: 66.66666667%;
  }
  .col-grand-9{
    width: 75%;
  }
  .col-grand-10{
    width: 83.33333333%;
  }
  .col-grand-11{
    width: 91.66666667%;
  }
  .col-grand-12{
    width: 100%;
  }
  .col-dec-grand-1{
    margin-left: 8.33333%;
  }
  .col-dec-grand-2{
    margin-left: 16.66666667%;
  }
  .col-dec-grand-3{
    margin-left: 25%;
  }
  .col-dec-grand-4{
    margin-left: 33.33333333%;
  }
  .col-dec-grand-5{
    margin-left: 41.66666667%;
  }
  .col-dec-grand-6{
    margin-left: 50%;
  }
  .col-dec-grand-7{
    margin-left: 58.33333333%;
  }
  .col-dec-grand-8{
    margin-left: 66.66666667%;
  }
  .col-dec-grand-9{
    margin-left: 75%;
  }
  .col-dec-grand-10{
    margin-left: 83.33333333%;
  }
  .col-dec-grand-11{
    margin-left: 91.66666667%;
  }
  .col-dec-grand-12{
    margin-left: 100%;
  }
}
